.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paypal-btn {
  border: 1px solid #ebebeb;
  display: flex;
  padding: 10px;
  z-index: 1;
  background: rgba(236, 237, 244, 0.3);
  margin-top: 2px;
  align-items: center;
  padding-top: 5px;
  border-radius: 5px;
  padding-bottom: 0;
  justify-content: center;
}

.paypal-btn button {
  display: flex;
  justify-content: center;
  z-index: 1;
  max-width: 380px;
  background: #ffc439;
  box-shadow: none !important;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  height: 55px;
  gap: 10px;
}

.jss219 {
  width: 100%;
  opacity: 0.6;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  line-height: 0em;
  padding-top: 15px;
  border-bottom: 1px solid rgb(0 0 0 / 40%);
  flex-direction: column;
  letter-spacing: 0.03333em;
}

.jss220 {
  padding: 0 10px;
  background-color: #fafafa;
}

.jss28 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-between;
}

.jss28 h1 {
  color: black;
  font-size: 18px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.167;
  letter-spacing: -0.01562em;
  margin: 5px 0px;
}

.left-checkout {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.jss29 {
  padding-bottom: 10px;
}

.jss32 {
  color: #ff5a50;
  padding: 9px 15px;
  font-size: 12px;
  background: #ffe7d1;
  text-align: center;
  border-radius: 5px;
}

.jss33 {
  line-height: 140%;
  vertical-align: middle;
}

[type="text"]:focus {
  --tw-ring-offset-color: #fff;
  --tw-ring-color: white;
  border-color: white;
}
[type="email"]:focus {
  --tw-ring-offset-color: #fff;
  --tw-ring-color: white;
  border-color: white;
}
[type="tel"]:focus {
  --tw-ring-offset-color: #fff;
  --tw-ring-color: white;
  border-color: white;
}

input {
  border: none;
  padding: 0 !important;
}

.form-input {
  padding-bottom: 0;
  border: 1px solid #ebebeb;
  transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 5px;
  background-color: rgba(251, 251, 255, 0.8);
}

label {
  color: black;
  opacity: 0.6;
  font-size: 10px;
  transform: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 8px;
}

input::placeholder{
  color: black;
  opacity: 0.3;
  font-weight: 600;
  height: 1.1876em;
  padding: 6px 0 7px;
  font-size: 14px;
}

.jss17 {
  box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
  margin-top: 10px;
  border-radius: 5px;
  background-color: #fff;
}

label.ml-3.text-sm.font-medium {
  color: black;
  opacity: 10;
  text-transform: capitalize;
}

